.side-nav {
  visibility: hidden;
  width: 0;
  margin-left: 0;
  overflow-x: hidden;
  height: 100%;
  position: fixed;
  background-color: #283345;
  border-right: 2px solid #2cbcb1;
  top: 0;
  left: 0;
  z-index: 1000; }
  .side-nav .burger {
    margin-top: 10px;
    margin-right: 10px; }
  .side-nav .navbar-nav {
    margin-top: 50px;
    margin-left: 25px; }
  .side-nav .nav-item {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-size: 25px; }
  .side-nav.-open {
    visibility: visible;
    transition: 0.5s;
    width: 200px; }
  .side-nav.-closed {
    transition: 0.5s; }
