body {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/dev-bg.jpg") no-repeat fixed center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  text-align: center;
  vertical-align: middle; }
  #home .intro-text {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    margin-bottom: 10px; }
  #home .divider {
    width: 320px;
    height: 2px;
    background-color: #fff; }

.ghost-button {
  margin-top: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  width: 200px;
  font-weight: bold;
  padding: 8px;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out, color 0.2s ease-out; }
  .ghost-button .button-text {
    margin-right: 20px; }
  .ghost-button .chevron {
    fill: #fff;
    transition: transform 0.3s ease-in-out;
    height: 15px;
    width: 15px; }
  .ghost-button span {
    margin-left: 20px; }
  .ghost-button:hover {
    background-color: #fff;
    color: #000;
    transition: background-color 0.3s ease-in, color 0.3s ease-in; }
    .ghost-button:hover .chevron {
      transform: rotate(90deg);
      fill: #000; }

#about {
  height: 1000px;
  width: 100%;
  background-color: #F9FBFA; }

.navbar {
  background-color: #283345;
  border-top: 2px solid #2CBCB1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .navbar .nav-item {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    text-transform: uppercase; }
  .navbar .nav-link {
    color: #F9FBFA; }
    .navbar .nav-link:hover {
      color: #2CBCB1; }
    .navbar .nav-link.active {
      color: #2CBCB1; }
