#projects {
  width: 100%;
  background-color: #DEF2F1;
  padding-bottom: 80px;
}

.projects-container {
  display: flex;
  flex-flow: wrap;
  margin-top: 50px;
  justify-content: center;

  .project-card-container {
    height: 300px;
    max-width: 350px;
    min-width: 350px;
    visibility: hidden;
    overflow: hidden;

    .project-card-overlay {
      text-align: center;
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 350px;
      margin-top: -235px;
      pointer-events: none;
      visibility: hidden;
      overflow: hidden;

      &.-hover {
        visibility: visible;
        transition: visibility 0.5s;
      }

      .project-card-text {
        margin-bottom: 60px;
        color: $ebony-clay;
        font-family: 'Lato', 'Raleway', Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: bold;
      }
    }

    &.mhe {
      .project-card {
        background: url(../assets/images/mhe-1.png);
        background-size: cover;
      }
    }

    &.uci-ocw {
      .project-card {
        background: url(../assets/images/uci-ocw-1.png);
        background-size: cover;
      }
    }

    &.books-app {
      .project-card {
        background: url(../assets/images/books-app-1.png);
        background-size: cover;
      }
    }

    &.portfolio-old {
      .project-card {
        background: url(../assets/images/portfolio-old-1.png);
        background-size: cover;
      }
    }

    &.portfolio {
      .project-card {
        background: url(../assets/images/portfolio-1.png);
        background-size: cover;
      }
    }
  }

  .project-card {
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
    transition: all .5s;

    &.-hover {
      opacity: 0.1;
      transform: scale(1.2);
      transition: all .5s;
    }
  }

  .ghost-button {
    background-color: #FFF;
    color: $ebony-clay;
    pointer-events: all;
    font-family: 'Lato';

    .button-text {
      margin: 0;
    }

    &:hover {
      background-color: $shamrock;
      color: #FFF;
    }
  }
}

.projects-modal {
  z-index: 4;
  position: fixed;
  visibility: hidden;
  left: 50%;
  top: 10%;
  transform: translate(-50%);
  width: 600px;
  background-color: $snow-drift;
  padding: 20px 0;
  box-shadow: 0 8px 40px -12px rgba(0, 0, 0, 0.3);

  .slideshow {
    width: 100%;
    height: 350px;
    position: relative;

    .slideshow-image {
      width: 100%;
      height: 100%;
      visibility: hidden;
      position: absolute;

      &.mhe-1 {
        background: url('../assets/images/mhe-1.png');
        background-size: cover;
      }

      &.mhe-2 {
        background: url('../assets/images/mhe-2.png');
        background-size: cover;
      }

      &.mhe-3 {
        background: url('../assets/images/mhe-3.png');
        background-size: cover;
      }

      &.mhe-4 {
        background: url('../assets/images/mhe-4.png');
        background-size: cover;
      }

      &.mhe-5 {
        background: url('../assets/images/mhe-5.png');
        background-size: cover;
      }

      &.uci-ocw-1 {
        background: url('../assets/images/uci-ocw-1.png');
        background-size: cover;
      }

      &.uci-ocw-2 {
        background: url('../assets/images/uci-ocw-2.png');
        background-size: cover;
      }

      &.books-app-1 {
        background: url('../assets/images/books-app-1.png');
        background-size: cover;
      }

      &.books-app-2 {
        background: url('../assets/images/books-app-2.png');
        background-size: cover;
      }

      &.portfolio-old-1 {
        background: url('../assets/images/portfolio-old-1.png');
        background-size: cover;
      }


      &.portfolio-old-2 {
        background: url('../assets/images/portfolio-old-2.png');
        background-size: cover;
      }

      &.portfolio-1 {
        background: url('../assets/images/portfolio-1.png');
        background-size: cover;
      }

      &.portfolio-2 {
        background: url('../assets/images/portfolio-2.png');
        background-size: cover;
      }
    }
  }

  .selectors {
    margin-top: 10px;
  }

  .image-selector {
    height: 12px;
    width: 7px;
    opacity: 0.7;
    background-color: $ebony-clay;
    border: none;
    border-radius: 3px;
    outline: none;
    margin: 0 10px;

    &:hover {
      transform: scale(1.3);
      background-color: $blue;
      opacity: 1;
    }

    &.active {
      background-color: $shamrock;
      opacity: 1;

      &:hover {
        background-color: $blue;
      }
    }
  }

  .description {
    padding: 20px;
    max-height: 350px;
    overflow-y: auto;
    margin: 0 20px;
  }

  .responsibilities {
    padding: 20px;
  }

  .projects-modal-header {
    margin-bottom: 20px;

    .project-title {
      display: none;
      font-family: 'Lato';
      font-size: 20pt;
      font-weight: bold;
      clear: both;
      text-align: center;
    }

    .close-button {
      background-image: url(../assets/svgs/close.svg);
      background-size: 25px 25px;
      width: 25px;
      height: 25px;
      position: absolute;
      right: 20px;
      cursor: pointer;
    }
  }

  &.showModal {
    visibility: visible;
  }

  .project-content {
    display: none;
    flex-direction: column;
    align-items: center;
  }
}