@import '~bootstrap/scss/bootstrap';
@import 'common/colors';
@import './home.scss';
@import './about.scss';
@import './navbar.scss';
@import './side-nav.scss';
@import './burger.scss';

body {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.section-header-container {
  text-align: center;
  display: inline-block;
  margin-top: 50px;
  visibility: hidden;

  .section-header {
    color: $ebony-clay;
    font-weight: 600;
    font-size: 3em;
    margin-bottom: 0;
  }

  .underline {
    display: inline-block;
    width: 80%;
    height: 4px;
    background-color: $ebony-clay;
  }
}

.content {
  transition: margin-left 0.5s;
  z-index: 2000;
  overflow: hidden;
}

.nav-link {
  color: $snow-drift;

  &:hover {
    color: $shamrock;
  }

  &.active {
    color: $shamrock;
  }
}

// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {

// }

/* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {

// }

// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {

// }

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {

// }
